body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color:lavender;
}

.side-menu {
  width: 200px;
  background-color: #333;
  padding: 20px;
  height: 100vh;
  transition: transform 0.3s ease;
  position: fixed;
}

.side-menu a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 200px;
}

#toggleMenu {
  display: none;
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .side-menu {
    transform: translateX(-100%);
  }
  .side-menu.active {
    transform: translateX(0);
  }
  #toggleMenu {
    display: block;
  }
  .content {
    margin-left: 0;
  }
}
